---
import ExperienceItem from "../components/ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Enero 2022 - Actualmente ...",
    title: "Desarrollador Backend - IDEALIDAD SAS",
    description:
      "Se implementó una aplicación de backend con arquitectura de micro-servicios, que permite la comunicación a través de sockets y utiliza axios para la gestión de solicitudes. ",
  },
  {
    date: "Enero 2022 - Actualmente ...",
    title: "Desarrollador frontend - IDEALIDAD SAS",
    description:
      "Aplicación web que se conecta con la API Para gestionar las conexiones, el estado de las cuentas, actualizaciones de los datos, suspensión de las cuentas y eliminación de las mismas.",
    Link: "https://app.idealidad.net/",
  },
  {
    date: "Enero 2022 - Actualmente ...",
    title: "Desarrollador Movile - IDEALIDAD SAS",
    description:
      "lorem39",
    Link: "https://play.google.com/store/apps/details?id=idealidad.co&pcampaignid=web_share",
  },
  {
    date: "Enero 2022 - Actualmente ...",
    title: "Desarrollador DevOps - IDEALIDAD SAS",
    description:
      "Desplegué de los micro servicios docketizados en una instancia de Aws utilizado Nginx para las APIS consus respectivos sub-dominios correspondiente.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
