---
import Menu from "./icons/Menu.astro";
---

<header
  class="flex justify-between items-center py-5 w-full px-4 md:px-8 xl:w-[1120px] mx-auto"
>
  <img
    class="rounded-full h-12 w-12 mb-4"
    src="https://avatars.githubusercontent.com/u/141464312?v=4"
    alt="logo-portafolio"
  />

  <div
    class="container-items"
    style="@media (min-width: 768px) {
        display: flex; 
        flex-direction: colum;
    };
  "
  >
    <!-- Icono de menú para móviles -->
    <div class="md:hidden">
      <button id="menuButton">
        <Menu />
      </button>
    </div>

    <!-- Menú de navegación con ID añadido -->
    <nav id="navbar" class="hidden md:flex flex-row gap-x-10 opacity-80">
      <a href="#top">Inicio</a>
      <a href="#experiencia">Experiencia</a>
      <a href="#proyectos">Proyectos</a>
      <a href="#sobre-mi">Sobre MI</a>
      <a href="#contacto">Contacto</a>
    </nav>
  </div>
</header>
<script type="module" client:load?>
  const menuButton = document.getElementById("menuButton");
  const navbar = document.getElementById("navbar");

  menuButton?.addEventListener("click", () => {
    navbar?.classList.toggle("active");
  });
</script>
