<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
  <img
    class="rounded-full size-12 mb-4"
    src="https://avatars.githubusercontent.com/u/141464312?v=4"
    alt="logo-portafolio"
  />

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mi">Sobre MI</a>    
    <a href="#contacto">Contacto</a>
  </nav>
</header>
